@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Portfolio</h1>

<div class="row">
    <div class="col col-lg-4">
        <h2>Steam Recycle</h2>
        <img src="~/Content/Images/SteamRecycle.png" alt="Steam Recycle Image"/><br/>
        <a href="https://github.com/mpayn019/SteamRecycle.git" class="btn btn-primary">Source</a>
        <a href="http://steamrecycle.com/" class="btn btn-primary">Website</a>
    </div>
    <div class="col col-lg-4">
        <h2>Strome Infusion</h2>
        <img src="~/Content/Images/StromeInfusion.png" alt="Strome Infusion Image"/><br/>
        <a href="http://www.cs.odu.edu/~cpi/old/411/blackf15/index.html" class="btn btn-primary">Website</a>
    </div>
</div>

